
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Account {{ user }}</title>
  </head>
  <body>
{% block body %}
Salve {{ user }} <br>
<a href="/sell_object">Vendi oggetto</a>       <a href="/logout">Logout</a>
{% if tipo == 1 %}
<a href="/offerte">Le tue offerte</a>
  {% else %} 
 <a href="/account">I tuoi oggetti</a>
 {% endif %}

<br>
{% if tipo == 1 %}
 I tuoi oggetti in vendita
  {% else %} 
  Le tue offerte 
  {% endif %}
<br>
{% if t == '' %}In corso    <a href='?t=con'>Concluse </a><a href='?t=sped'>Spedite</a> 
{% else %}{% if t == 'con' %}<a href='?'>In corso </a>    Concluse   <a href='?t=sped'>Spedite</a>
{% else %}<a href='?'>In corso </a> <a href='?t=con'>Concluse </a>  Spedite {% endif %} {% endif %}
<table style="width:100%">
{% for a in all_ob %}
<tr>
	<td>
<a href="item/{{ a.0.pk }}"><img src="/media/{{ a.0.foto }}"  style="height:250px;max-width:250px;width: expression(this.width > 250 ? 250: true);"></a></td><td>
{{ a.0.nome }} </td><td>{% if a.0.prezzo_attuale == 0 %} {{ a.0.prezzo_partenza }} {% else %} {{ a.0.prezzo_attuale }} {% endif %}  </td>
{% if tipo == 2 %} <td>{{a.1.prezzo_massimo}}</td>{% endif %}<td> {{ a.0.data_termine }} </td></tr>
{% endfor %}
</table>
{% comment %}
<br>Concluse <br>
<table style="width:100%">
{% for a in oo %}
<tr>
	<td>
<a href="item/{{ a.pk }}"><img src="/media/{{ a.foto }}"  style="height:250px;max-width:250px;width: expression(this.width > 250 ? 250: true);"></a></td><td>
{{ a.nome }} </td><td>{% if a.prezzo_attuale == 0 %} {{ a.prezzo_partenza }} {% else %} {{ a.prezzo_attuale }} {% endif %}  </td><td> {{ a.data_termine }} </td></tr>
{% endfor %}
</table>
{% endcomment %}
{% endblock %}
  </body>
</html>