{% extends "base.html" %}
{% comment %}
  Main page to authenticate users.
{% endcomment %}

{% block head %}
  <title>Aste</title>
{% endblock %}

{% block body %}
  <header>
    <h1>Aste</h1>
  </header>

  <section>
    {% if form.errors %}
      <p>Your username and password didn't match, please try again.</p>
    {% endif %}

    <form method="post" action=".">
      {% csrf_token %}
      <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/" />
      {% endif %}
      <input type="submit" value="login" /> 
    </form> 
  <form action="/sign_up" method="get">
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/" />
      {% endif %}
      <input type="submit" value="Sign Up">
  </form>
  </section>
{% endblock %}
